.weather-app {
  border: 3px solid #000;
  max-width: 500px;
  margin: 10px;
  padding: 12px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.weather-app .current-temp {
  font-size: 23px;
}

.weather-app .units {
  align-self: flex-start;
}

.weather-app .active {
  color: #000;
  cursor: default;
  text-decoration: none;
}

.condition {
  text-transform: capitalize;
}

.weather-icon {
  font-size: 10px;
}

footer {
  text-align: center;
}
